@import url(http://fonts.googleapis.com/css?family=Roboto);
@font-face {
    font-family: "Akashi";
    src: url('fonts/Akashi.ttf');
}

body {
    background-color: #15161C;
} 

.menu {
    background-color: #010a0c;
    margin: 0;
}

.menu-elem {
    color: white;
    padding: 0.5%;
    padding-bottom: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 14pt;
}

.menu-link {
    color: white;
    font-family: 'Akashi', sans-serif;
}

.menu-link:hover {
    text-decoration: none;
}

.search-input {
    border: 1;
    border-width: thin;
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: white;
}

.loupe {
    text-decoration: none;
}

.img_ansefi {
    width: 100%;
}

.opaque {
    position: absolute;
    width: 100%;
    height: 200px;
    padding-top: 0%;
    padding-left: 2%;
    text-align: justify;
    left: 0;
    bottom: 0;
    opacity: 0.7;
    background-color: black;
    z-index: 1;
}

.fleche {
    text-decoration: none;
}

h1 {
    text-decoration: underline;
    font-family: 'Akashi', sans-serif;
}

p {
    font-family: sans-serif;
}

.ajout {
    width: 100%;
    background-color: #010a0c;
    padding: 0.5%;
    color: whitesmoke;
    font-weight: bold;
}

hr {
    width: 10%;
}

.news {
    background: linear-gradient(to left, #010a0c 5%, #02161a 95%);
    font-size: 1.6em;
    margin-top: 1%;
    margin-bottom: 2%;
    text-align: center;
    font-family: 'Akashi', sans-serif;
    padding-top: 0.3%;
    font-weight: 500;
}

.infon {
    margin: 0;
    margin-top: 0.5%;
    margin-left: 4%;
    font-size: 0.9em;
    font-family: sans-serif;
}

.img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.news_div {
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid grey;
    background-color: #02161a;
    padding: 0%;
    width: 98%;
    margin-left: 1%;
}

.news_img {
    display: inline-block;
    margin: 3%;
    margin-top: 0;
    border: 1px solid grey;
    width: 155px;
    height: 155px;
}

.div_title {
    width: 100%;
    height: 40px;
    background-color: #15161C;
    border-bottom: 1px solid grey;
    margin: 0;
    padding-top: 0.5%;
    margin-bottom: 3%;
}

.news_title {
    margin-top: 0;
    font-size: 2em;
    font-family: 'Akashi', sans-serif;
    text-align: center;
    text-decoration: none;
}

.div_note {
    position: absolute;
    display: inline-block;
    border: 1px solid grey;
    width: 72.5%;
    padding: 1%;
    padding-bottom: 0%;
    margin-top: 0%;
    line-height: 1.2;
}

.hover:hover {
    color: #010a0c;
    cursor: pointer;
}

.div_second_title {
    border-bottom: 1px solid grey;
    background: linear-gradient(to left, #02161a, #15161C, #02161a);
    margin: 0;
    margin-bottom: 1%;
    text-align: center;
    text-decoration: none;
    padding-top: 1%;
    padding-bottom: 0;
}

.synopcrit {
    margin: auto;
    margin-bottom: 2%;
    padding-top: 0;
    padding-left: 1.5%;
    padding-right: 1.5%;
    width: 94%;
    border: 1px solid grey;
    font-family: sans-serif;
    text-align: justify;
}

.second_title {
    font-family: 'Akashi', sans-serif;
}

span {
    text-decoration: underline;
    font-family: 'Akashi', sans-serif;
    font-weight: 500;
}

.footer {
    width: 100%;
    height: 115px;
    padding-top: 1%;
    text-align: center;
    border-radius: 0 0 10px 10px;
    color: whitesmoke;
}

#audioplayer {
    position: fixed;
    opacity: 0.7;
    background-color: black;
    width: 100%;
    height: 31px;
    bottom:0;
    padding-bottom: 0;
    z-index: 2;
}


#playbutton{
    margin-left: 0.3%;
}

#audiotrack {
    width: 100%;
}

#volume {
    width: 100px;
    display: inline-block;
    margin-bottom: -0.4%;
}

#progress {
    width: 600px;
    display: inline-block;
    margin-bottom: -0.4%;
    margin-left: 1%;
}

#titreMusique {
    display: inline-block;
    margin-bottom: -0.4%;
    margin-left: 2%;
}