@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
    background-color: #171717;
} 

.bloc {
    width: 100%; 
}

.menu {
    background-color: #010a0c;
    margin: 0;
}

.menu-elem {
    color: white;
    padding: 0.5%;
    text-align: center;
    vertical-align: middle;
    font-size: 14pt;
}

.menu-link {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.menu-link:hover {
    text-decoration: none;
}

.search-input {
    border: 1;
    border-width: thin;
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: white;
}

.img_ansefi {
    width: 100%;
}

input {
    padding-left: 1%;
}

#defil_name {
    margin-top: 0;
    font-size: 75%;
    color: whitesmoke;
    font-family: sans-serif;
}

#play {
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 28%;
}

/* fin playlist */

.ajout {
    width: 100%;
    height: 500px;
    background-color: #9a9a9a;
    padding: 0.5%;
    color: whitesmoke;
    font-weight: bold;
}

.news {
    font-size: 1.5em;
    margin: 0;
    text-align: center;
    font-family: sans-serif;
}

.infon {
    margin: 0;
    margin-top: 0.5%;
    margin-left: 4%;
    font-size: 0.9em;
    font-family: sans-serif;
}

.img_scroll_opaque {
    width: 100%;
    height: 60%;
    padding: 2%;
    background-color: black;
    margin-top: 0;
    opacity: 0.7;
}

.img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.scroll_title {
    color: whitesmoke;
    font-size: 20px;
    text-decoration: underline;
    margin: 0;
}

.txt_scroll {
    color: whitesmoke;
}

#next1, #next2, #next3, #next4, #next5 {
    opacity: 0.5;
    position: relative;
    padding-top: 2%;
    padding-bottom: 0%;
    width: 55px;
    height: 35px;
    text-align: center;
    font-size: 12px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    top: 40%;
    right: -0.1%;
    z-index: 2;
}

#next1:hover, #next2:hover, #next3:hover, #next4:hover, #next5:hover {
    background-color: whitesmoke;
    opacity: 1;
}

#prev1, #prev2, #prev3, #prev4, #prev5 {
    opacity: 0.5;
    position: relative;
    padding-top: 2%;
    padding-bottom: 0%;
    width: 55px;
    height: 35px;
    top: 40%;
    left: -0.1%;
    text-align: center;
    font-size: 12px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    z-index: 2;
}

#prev1:hover, #prev2:hover, #prev3:hover, #prev4:hover, #prev5:hover {
    background-color: whitesmoke;
    opacity: 1;
}

.boule1, .boule {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    z-index: 3;
    display: inline-block;
    margin-bottom: 0;
    background-color: #8b8c8d;
}

.boule1 {
    margin-left: 40%;
    background-color: white;
}

.boule {
    margin-left: 2%;
}

.boule1:hover, .boule:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.div_boule {
    width: 50%;
    display: inline-block;

    margin-left: 24.8%;
    z-index: 3;
}

.footer {
    width: 100%;
    height: 115px;
    padding-top: 1%;
    text-align: center;
    border-radius: 0 0 10px 10px;
    color: whitesmoke;
}

